html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

nav {
  background: #222;
  padding: 0 15px;
}

a {
  /* color: white; */
  text-decoration: none;
}

svg {
  display: inline-block;
  vertical-align: top;
}

ul li {
  list-style-type: none;
}

/* grid.css */
.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-template-rows: 50px 200px 100px; */
  grid-gap: 1em;
}

header,
footer {
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 100px;
}

.grid > * {
  outline: 1px solid red;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
