.article {
  display: grid;
  background-color: var(--color-gray);
  padding: max(1em, 8px);
  place-items: start stretch;
  max-width: 400px;
}

.article__body {
  padding: 10px;
}

.article__header {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-black);
}

.article__footer {
  border-top: 1px solid var(--color-black);
  display: grid;
  grid-gap: max(0.35rem, 5px);
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

.article__footer strong {
  font-weight: bold;
}
