/* grid.css */
.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-template-rows: 50px 200px 100px; */
  grid-gap: 1em;
}

.grid nav,
.grid header,
.grid footer {
  grid-column-start: 1;
  grid-column-end: 3;
  /* min-height: 100px; */
}

.grid > * {
  background: lightgray;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
