.chart {
  width: 100%;
  max-width: 30rem;
  padding: 1.5rem 1.5rem 2rem;
  border: 2px solid #a7a8aa;
  border-radius: 0.5rem;
  margin: 10px auto;
}

.chart :is(h1, h2, h3, h4, h5, h6),
.chart p {
  margin: 0 0 0.5rem;
  color: #1f2021;
}

.chart_list {
  display: grid;
  grid-template-columns: 1;
  gap: 0.5em 0;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-auto-columns: 1fr;
}

.chart_list li {
  background: #ffd100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  opacity: 0.8;
}

.chart_list li:hover {
  opacity: 1;
}

.chart_list li span {
  font-weight: bold;
}
