.container {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: "wrap";
}

.container > div {
  background: var(--color-gray);
  padding: min(15px, 8%);
}
