.textarea {
  --borderColor: #ccc;
  --bgColor: #f8f8f8;
  width: max-content;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--bgColor);
  font-size: 16px;
  resize: none;
  overflow-y: hidden;
  display: grid;
  grid-column: auto;
  gap: 8px;
}
